body{
    background-color: rgb(50, 68, 40);
    margin: 35px;
}
h1{
    color: rgb(158, 116, 96);
    text-align: center;
}
div.main-visual{
    float: left;
}
h2{
    color: rgb(199, 158, 125);
}
h3{
    color: rgb(206, 175, 154);
}
a:link {
    color: rgb(158, 116, 96);
    text-decoration: none;
}
a:visited {
    color: rgb(199, 158, 125);
    text-decoration: none;
}