body{
    background-color: rgb(50, 68, 40);
    margin: 35px;
}
div.top{
    text-align: center;
}
h1{
    color: rgb(230, 195, 179);
    text-align: center;
}
div.feline{
    background-color: rgb(100, 120, 90);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 19px;
}
div.canine{
    background-color: rgb(100, 120, 90);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 19px;
}
div.bird{
    background-color: rgb(100, 120, 90);
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 19px;
}
h2{
    color: rgb(62, 43, 34);
}
h3{
    color: rgb(62, 43, 34);
}
a:link {
    color: rgb(158, 116, 96);
    text-decoration: none;
}
a:visited {
    color: rgb(199, 158, 125);
    text-decoration: none;
}